/*

Analogous Color Scheme:

https://color.adobe.com/create/color-wheel/?base=2&rule=Analogous&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.9057846095981904,0.5523823272699833,1,0.7131734268660048,0.5026679178156848,0.91,0.6994263345460165,0.6023823272699833,1,0.5026679178156848,0.5139338733906184,0.91,0.5523823272699833,0.6825566226338973,1&swatchOrder=0,1,2,3,4

*/


@import url('https://fonts.googleapis.com/css?family=Quicksand|Slabo+27px');


body {	
    font-family: 'Quicksand', sans-serif;
    margin:0;
    padding:0;
    font-size:  1.618rem;
    line-height: 1.618;
    background-color: black;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Slabo 27px', serif;
    font-size:  1.618rem;
    text-transform: uppercase;
}

img {
    width: 50%;
    height: auto;
}

button {
    width: 100%;
    background-color: #8DAEFF;
    border: none;
    padding: 1rem;
    border-radius: 7px;
    text-transform: uppercase;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.wrapper {
    background-color: white;
    padding: 1rem;
    max-width: 30rem;
    /*margin: 1rem;*/
}

.main-content ul {
    padding: 0;
}

.main-content ul li {
    background-color: #B680E8;
    list-style-type: none;
    padding: 0.5rem;
    margin: 0;
    margin-top: 0.1rem;
    border-radius: 7px;
    text-align: left;
    text-transform: capitalize;
}

hr {
    border: 1px dashed black;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

p, footer ul li, .main-content ul li {
    font-size: 1.0rem;
}

p { margin-bottom: 1.5em; }

footer ul li {
    float: left;
    margin-left: 1rem;
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
}


.spanClass {
    font-family: 'Quicksand', sans-serif;
}

/* Add this class to any HTML element that needs clearing float */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*Mobile View < 35rem*/

@media screen and (max-width: 35rem) 
{

}
